@media screen and (max-width:1000px){
    .contactboxandform{
        width: 800px;
        
    }
   i.fa{
       font-size: 20px;
   }
}

@media screen and (max-width:880px) {
    
    .menu{
        position: fixed;
        left:-100%;
       
        top: 80px;
        flex-direction: column;
         background-color: black;
 
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05); 
        overflow-x: hidden;
        
    }
    .menu.active{
        left:0;
        
    
    }
    .nav-item{
        margin: 30px 0;

    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .contactboxandform{
        width: 710px;
        
    }
    i.fa{
        font-size: 18px;
    }
    
}
@media  screen and (max-width:830px) {
    /* .body{
        display: hidden;
    } */
   .text1{
       font-size: 20px;
       font-weight: 600;
   }
   .text2{
       font-size: 30px;
       font-weight: 600;
   }
   .text3{
       font-size: 25px;
       font-weight: 600;
       /* color: #021a18; */
   }
   .ania img{
       height: 400px;
   }
   .team-container{
       flex-direction: column;
       height: 850px;
   }
   
    
}
@media screen and (max-width:720px) {
    .container{
        flex-direction: column;
        align-items: center;
    }
    .ania img{
        height: 400px;
        
    }
    
    .text1{
        font-size: 20px;
        font-weight: 600;
    }
    .text2{
        font-size: 30px;
        font-weight: 600;
    }
    .text3{
        font-size: 25px;
        font-weight: 600;
        /* color: #021a18; */
    }
    .intro{
        margin-top: 15px;
    }
    
    .cv a{
       
        font-size: 16px;
        
    }
    .home{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        height: 100;
    }
    .skillcon{
        width: 500px;
        
    
    }
    .contactboxandform{
        width: 600px;
    }
    i.fa{
        font-size: 15px;
    }
    
    
}
@media screen and (max-width:600px) {
    .skillcon{
        width: 400px;
        
    
    }
    .contactboxandform{
        width: 500px;
    }
    i.fa{
        font-size: 13px;
    }

    

}
@media screen and (max-width:550px) {
    .contactboxandform{
        flex-direction: column;
        width: 400px;
        height: 800px;
    }
    .contactbox{
       
        height: 50%;
        width: 100%;
        
        
        position: relative;
        top: 50%;
    }
    .contactusform{
        display: flex;
        flex-direction: column;
        width: 100%;
        height:50%;
        position: relative;
        bottom: 50%;
        border-bottom: 1px solid #20B2AA;
        
    }
    i.fa{
        font-size: 20px;
    }

}
@media screen and (max-width:415px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 1rem 5rem; */
        padding: 10px 60px;
        
    }
    .intro{
        margin-right: 40px;
    }
    .ania img{
        height: 280px;
    }
    .skillcon{
        width: 280px;
        
    
    }
    .contactboxandform{
       
        width: 290px;
        height: 800px;
    }
    i.fa{
        font-size: 19px;
    }
    
    .card figure img{
        width: 250px;
    }
    .card-container{
        width:250px ;
    }
    .front{
        font-size: 20px;
    }
    
}
@media screen and (max-width:350px) {
    .navbar{
       
        padding: 10px 30px;
        
    }
}
@media screen and (max-width:290px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 1rem 5rem; */
        /* padding-left: -20px; */
        
    }
    .ania img{
        height: 270px;
    }
    .skillcon{
        width: 250px;
        
    
    }
    .contactboxandform{
        width: 250px;
    }
    i.fa{
        font-size: 15px;
    }
    .navbar{
       
        padding: 10px 20px;
        
    }
    

    
}
@media screen and (max-height:495px) {
    .nav-item{
        margin-bottom: 10px;
    }
}
@media screen and (max-height:400px) {
    .menu{
        flex-direction: row;
        overflow-x: scroll;
    }
}

 
 
 